

<h1>I'm so proud that you accomplished one of your goals </h1>

 <h2> Here start your journey in the world of success start writing your Achievements  
  </h2>


    <video style ="float:right; margin-right:10px "width="550" height="550;" autoplay controls >
    <source src="<%=asset_path('video.mp4')%>" type="video/mp4">
    <source src="<%=asset_path('video.mp4')%>">
    Your browser does not support the video tag.
    </video>
